raw-palette-apis.json
scripts/
Taskfile.yaml
.gitignore
.openapi-generator
.venv
**/.venv
**/.venv/**
.pytest_cache
.ruff_cache
.env
inspector.log
.git
.dockerignore
public
tmp
.playwright-mcp
.cursor/
.github/
.playwright-mcp/
scripts/
**/.DS_Store
.DS_Store
AGENTS.md
CODEOWNERS
Dockerfile
.claude
.goreleaser
LICENSE
dist
.goreleaser.yaml
.prettierignore